extends layout

block content
    h2=pageHeader.title
        .row
            .col-md-9
                .col-md-3
                a.btn.btn-primary.btn-md(href="/forum") Go to Forum
                a.btn.btn-secondary.btn-md(href="/ideas") View Your Ideas
                .col-md-6
                    h2 Your Watchlist