extends layout

block content
    .row
        .col-md-10
            .col-md-3
            h2 Welcome to the Forum
            .col-md-6s
                .row.page-header
                    .col-lg-12
                        a.btn.btn-primary.btn-md(href="/ideas/new") Post New Idea
                        &nbsp;
                        a.btn.btn-secondary.btn-md(href="/dashboard") Your Dashboard
                        br
                        h6 Filter results by inputting the relevant parameters below
                        .row
                            .col-xs-12.col-md-12(ng-controller="forumListCtrl")
                                label(for="filter") Search: (e.g. AAPL) 
                                input#filter(type="text", ticker="filter", ng-model="searchFilter")
                                br
                                label.control-label(for='filter') Sentiment:
                                    select#filter(type="text", sentiment="filter", ng-model="sentimentFilter")
                                        option(value='')  
                                        option(value='Bullish') Bullish
                                        option(value='Neutral') Neutral
                                        option(value='Bearish') Bearish
                                .error {{ message }}
                                .row.list-group
                                    .col-xs-12.list-group-item(ng-repeat="idea in data.ideas | filter: searchFilter | filter: sentimentFilter")
                                        h4 {{ idea.title }}
                                        p Ticker: {{ idea.ticker }} 
                                        span.badge.badge-primary {{ idea.sentiment }}
                                        p {{ idea.text }}
                                        small Posted By: {{ idea.postedBy }}
                                        br
                                        small.reviewTimestamp Posted On: {{ idea.postedAt }}
                                            br
                                        small 
                                            img.Upvotes(src="/images/thumbsUp.png" width="18" height="18" alt="Image size dimensions")
                                            &nbsp; 
                                            small {{ idea.upvoteCount }}
                                            br
                                            img.Downvotes(src="/images/thumbsDown.png" width="18" height="18" alt="Image size dimensions")
                                            &nbsp; 
                                            small {{ idea.downvoteCount }}
                                            br
                                            img.Comments(src="/images/commentIcon.png" width="20" height="20" alt="Image size dimensions")
                                            hr