extends layout

block content
  .jumbotron.text-center
    h1 Connecting Investors Worldwide
    p.lead Get in touch with the Wall Street Community, explore global market sentiments
    div
      a.btn.btn-primary(href="/user/register") Register
      a.btn.btn-default(href="/user/login") Login
  .row
    .col-md-6
      h3 What's Trending?
      ol(type='1')
    .col-md-6
      h3 Markets Today
      p (Market Data Feed API here)
