extends layout

block content
    section
    form.form-horizontal(action="/api/ideas/new", method="POST", role="form")
        - if (error == "val")
          .alert.alert-danger(role="alert") Oops, something went wrong. Please try again.
        fieldset
        input(type='hidden', id='userID', name='postedBy', value='')
        .form-group(show-errors='')
            label.control-label Ticker
            input#title.form-control(name='ticker', placeholder='Ticker symbol', required='')
        .form-group(show-errors='')
            label.control-label Title
            input#title.form-control(name='title', placeholder='Title', required='')
        .form-group(show-errors='')
            label.control-label Your Sentiment
            select#category.form-control(name='sentiment', required='')
                option(value='')  --- Please select --- 
                    option(value='Bullish') Bullish
                    option(value='Neutral') Neutral
                    option(value='Bearish') Bearish
        .form-group
            label Share your thoughts
            textarea#body.form-control(name='text', rows='5', required='')
        .form-group
            .input-group.mb-3
            .custom-file
                input#inputGroupFile02.custom-file-input(type='file')
                label.custom-file-label(for='inputGroupFile02') Not implemented yet
            .input-group-append
                span.input-group-text(id='') Upload
        button.btn.btn-success(type='submit') Submit
        button.btn.btn-danger(onclick="history.back()") Cancel
    
    script.
        var token = findCookie('token', document.cookie);
        if (token) {
        tokenObject = JSON.parse(decodeURIComponent(token));
        id = tokenObject.id;
        //- document.querySelector('h1').textContent += " " + id;
        //- document.querySelector('p').innerHTML = "Please do what ever you like!";
        }
        function findCookie(name,cookieString) {
        console.log("finding cookie ...")
        cookieString = '; ' + cookieString;
        console.log("in " + cookieString);
        var splitOnName = cookieString.split("; " + name + "=");
        if (splitOnName.length == 2) return splitOnName[1].split(";")[0]
        }
        console.log(id);
        document.getElementById("userID").value = id;