extends layout

include _includes/sharedHTMLfunctions

block content
    .row
        .col-md-9
            .col-md-3
            a.btn.btn-primary.btn-md(href="/ideas/new") Post New Idea
            .col-md-6s
                .row.page-header
                    .col-lg-12
                        h2 Your Ideas
                .row
                    .col-xs-12.col-md-9
                        .row.list-group
                            each idea in ideas
                                .col-xs-12.list-group-item
                                    h4= idea.title
                                    p= "Ticker: " + idea.ticker
                                    span.badge.badge-warning= idea.sentiment
                                    p= idea.body
                                    small 
                                        &nbsp;
                                        span.badge.badge-pill.badge-info.likes Agree:12
                                        span.badge.badge-pill.badge-primary.dislikes Disagree: 8
                                        span.badge.badge-pill.badge-light.commentcount Comments: 5
                                        br
                                        a.btn.btn-warning.btn-md() Edit Idea
                                        &nbsp;
                                        a.btn.btn-danger.btn-md() Delete Idea

                                    