extends layout

block content
  h2.page-header Login
  form.form-horizontal(action="/api/user/login", method="POST", role="form")
    .form-group
      label Username
      input.form-control(name= 'username', required='')
    .form-group
      label Password
      input.form-control(name='password', required='')
    input.btn.btn-primary(type='submit', value='Login')
    input(type='hidden', name='onSuccess', value='dashboard')
