extends layout

block content
    section
    form.form-horizontal(name='newIdeaForm', (submit)='onIdeaSubmit()', *ngif='newIdea')
        fieldset
        .form-group(show-errors='')
            label.control-label(for='ticker') Ticker
            input#title.form-control(name='ticker', type='text', ng-model='vm.post.tags', placeholder='Ticker symbol', required='')
        .form-group(show-errors='')
            label.control-label(for='title') Title
            input#title.form-control(name='title', type='text', ng-model='vm.post.title', placeholder='Title', required='')
        .form-group(show-errors='')
            label.control-label(for='sentiment') Your Sentiment
            select#category.form-control(name='sentiment', ng-model='vm.post.category', required='')
                option(value='')  --- Please select --- 
                    option(value='Long') Bullish
                    option(value='Hold') Neutral
                    option(value='Short') Bearish
        .form-group
            label(for='body') Share your thoughts
            textarea#body.form-control(rows='5', required='')
        .form-group
            .input-group.mb-3
            .custom-file
                input#inputGroupFile02.custom-file-input(type='file')
                label.custom-file-label(for='inputGroupFile02') Upload a file
            .input-group-append
                span.input-group-text(id='') Upload
        button.btn.btn-success(type='submit') Submit
        button.btn.btn-danger(onclick="history.back()") Cancel
