mixin outputSentiment(sentiment)
    if (sentiment == "Bullish")
        span.badge.badge-success Bullish
    else if (sentiment == "Neutral")
        span.badge.badge-warning Neutral
    else
        span.badge.badge-danger Bearish

mixin formatDate(dateString)
    -var date = new Date(dateString);
    -var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
    -var d = date.getDate();
    -var m = monthNames[date.getMonth()];
    -var y = date.getFullYear();
    -var output = d + ' ' + m + ' ' + y;
    =output

mixin outputVote(vote)
    if (vote == 1)
        img.Upvote(src="/images/thumbsUp.png" width="18" height="18" alt="Image size dimensions")
    else if (vote == 0)
        img.Downvote(src="/images/thumbsDown.png" width="18" height="18" alt="Image size dimensions")
    else
        img.Neutral(src="/images/unsure.png" width="18" height="18" alt="Image size dimensions")
